.container {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  gap: 10px;
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}

.a {
  /* hafa sem nr 2 */
  /* grid-column-start: 2;
  grid-column-end: 3; */
  grid-column: 2 / 3;
  /* grid-row-start: 1;
  grid-row-end: 2; */
  grid-row: 1 / 2;
}

.b {
  /* hafa sem nr 5 */
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.c {
  /* hafa sem nr 6 */
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

.d {
  /* hafa sem nr 1 */
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.e {
  /* hafa sem nr 4 */
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.f {
  /* hafa sem nr 3 */
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}
